<!-- templates/posts/post_detail.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %} {{post.titulo}} {% endblock %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12">
            <article class=""> <!-- Muestra la publicación y el like -->
                <header class="mb-4 text-center text-uppercase">
                    <h3 class="fw-bolder mb-1"> {{post.titulo}} </h3>
                    <div class="text-muted fst-italic mb-2">{{post.creacion}} | Autor: {{post.autor}} </div>
                    <a class="badge bg-secondary text-decoration-none link-light" href="#!"> {{post.categoria}}</a>
                </header>           
                <figure class="mb-4">
                    <img class="img-fluid w-100 rounded" src="{{post.imagen.url}}" style="max-width: 100%; max-height: 750px; object-fit: cover;" alt="...">
                </figure>
                <section class="mb-5">
                    <p class="text-muted">
                        {{post.contenido}}
                    </p>
                </section>


                <hr>

                <!-- Muestra el like y el me gusta -->
                {% if user.is_authenticated %}
                    <form action="{% url 'me-gusta' %}" method="post" id="boton-me-gusta" >{% csrf_token %}
                        
                        <input type="hidden" name="publicacion_id" value="{{post.id}}">

                        {% if user in post.meGusta.all %}
                            <button type="submit" class="btn btn-outline-primary">
                                <img src="{% static 'img/filled_blue_hand.png' %}" alt="Like" width= 40px height= 40px  >
                                Pero ya no me gusta</button>
                        {% else %}
                            <button type="submit" class="btn btn-outline-primary">
                                <img src="{% static 'img/empty_blue_hand.png' %}" alt="Like" width= 40px height= 40px  >
                                Me gusta!</button>
                        {% endif %}

                    </form>
                    {% comment %} {% if user in post.meGusta.all %}
                        <a href="{% url 'me-gusta' post_id=post.id %}" class="like-button">
                        <img src="{% static 'img/filled_blue_hand.png' %}" alt="Like">
                        </a>
                    {% else %}
                        <a href="{% url 'me-gusta' post_id=post.id %}" class="like-button">
                        <img src="{% static 'img/empty_blue_hand.png' %}" alt="Not Like">
                        </a>
                    {% endif %} {% endcomment %}

                    

                {% else %}
                    <a href="{% url 'usuarios:login' %}">
                        <button type="submit" class="btn btn-outline-primary">
                            <img src="{% static 'img/empty_blue_hand.png' %}" alt="Like" width= 40px height= 40px  >
                            Debe estar registrado para dar like o comentar!</button>
                    </a>
                {% endif %}

            </article>



            <section class="mb-2 mt-4"> <!-- Muestra los comentarios -->
                <div class="card bg-light">
                    <div class="row">
                        <div class="card-body p-4">
                            {% if user.is_authenticated %}
                                <form method="post" action="{% url 'add_comment' post.pk %}">
                                    {% csrf_token %}
                                    {{ comment_form.as_p }}
                                    <button type="submit" class="btn btn-primary">Comentar</button>
                                </form>
                            {% endif %}
                            <div class="divider mt-4"></div>
                            {% if post.comment_set.exists %}
                                {% for comment in post.comment_set.all %}
                                <div class="d-flex p-2 mb-2 bg-white rounded">
                                    <div class="w-100">
                                        <p class="text-muted">{{ comment.autor.username }} el  {{ comment.fecha }} comentó:</p>
                                        {{ comment.content|safe }}
                                        <p class="fw-bold"></p>
                                    </div>
                                    
                                
                                    {% if user.is_authenticated and comment.autor == user or user.is_superuser or user.es_colaborador %}
                                    <form method="post" action="{% url 'delete_comment' post.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="comment_id" value="{{ comment.id }}">
                                        <button type="submit" class="btn btn-link btn-sm">Eliminar</button>
                                        <a href="{% url 'edit_comment' post_id=post.id comment_id=comment.id %}" class="btn btn-link btn-sm">Editar</a>
                                    </form>
                                    
                                    {% endif %}
                                </div>
                                {% endfor %}
                            {% elif user.is_authenticated %}
                                <p class="text-muted">Nadie ha comentado este artículo. ¡Sé el primero en dejar tu opinión!</p>
                            {% else %}
                                <a href="{% url 'usuarios:login' %}">
                                    <p class="text-muted">Nadie ha comentado este artículo. ¡Sé el primero en dejar tu opinión!</p>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

{% endblock %}


