<!-- templates/posts/post_list.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Publicaciones{% endblock %}

{% block content %}
<h2 class=" mt-5 text-center fw-bold">
   Todos nuestros articulos
</h2>
<p class="text-center mb-5">Puedes ver todos los articulos publicados o filtrarlos</p>

<div class="row container">
  <div class="col">
    <p>Seleccione una categoría para filtrar los articulos</p>
    <form method="get">
      <div class="input-group mb-4 d-flex">
        <select name="categoria" id="id_categoria" class="form-select">
          <option value="">Todas las categorías</option>
          {% for categoria in categorias %}
            <option value="{{ categoria.nombre }}"
              {% if categoria.nombre == categoria_seleccionada %}selected{% endif %}>
              {{ categoria.nombre }}
            </option>
          {% endfor %}
        </select>
        
        <select name="orderby" id="" class="form-select">
          <option value="">Ordenar por</option>
          <option value="fecha_desc" {% if orden == 'fecha_desc' %}selected{% endif %}>Publicaciones recientes</option>
          <option value="fecha_asc" {% if orden == 'fecha_asc' %}selected{% endif %}>Publicaciones anteriores</option>
          <option value="alf_asc" {% if orden == 'alf_asc' %}selected{% endif %}>Alfabéticamente ascendente</option>
          <option value="alf_desc" {% if orden == 'alf_desc' %}selected{% endif %}>Alfabéticamente descendente</option>
      </select>
        
        <button class="btn btn-primary ml-2" type="submit">Filtrar</button>
      </div>
    </form>

  </div>
  
  </div>
</div>
  
<div class="row">
    {% for post in posts %}
    <div class="col-lg-6 mb-4">
        <div class="card">
            <a href="{% url 'post_detail' pk=post.pk %}"><img class="card-img-top" src="{{post.imagen.url}}" style="max-width: 100%; max-height: 400px;" alt="..." /></a>
            <div class="card-body">
                <div class="small text-muted mb-1">{{post.creacion}} - Comentarios: {{ post.cantidad_comentarios }}</div>
                <h2 class="card-title h5">{{ post.titulo }}</h2>
                <p class="card-text">{{ post.contenido|slice:":100" }}</p>
                <a class="btn btn-primary" href="{% url 'post_detail' pk=post.pk %}">Leer mas →</a>
                {% if user.is_authenticated %}
                {% if user.is_superuser or user.es_colaborador or post.autor == user %}
                    <a href="{% url 'update_post' post.id %}" class="btn btn-link">Editar</a>
                    <a href="{% url 'delete_post' post.id %}" class="btn btn-link">Eliminar</a>
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% if posts.paginator.num_pages > 1 %}
<nav aria-label="Paginación" class="d-flex justify-content-center mt-5">
  <ul class="pagination">
      {% if posts.has_previous %}
          <li class="page-item">
              <a class="page-link" href="?page={{ posts.previous_page_number }}" aria-label="Anterior">
                  <span aria-hidden="true">Anterior</span>
              </a>
          </li>
      {% endif %}

      {% for page_num in posts.paginator.page_range %}
          <li class="page-item {% if page_num == posts.number %}active{% endif %}">
              <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
          </li>
      {% endfor %}

      {% if posts.has_next %}
          <li class="page-item">
              <a class="page-link" href="?page={{ posts.next_page_number }}" aria-label="Siguiente">
                  <span aria-hidden="true">Siguiente</span>
              </a>
          </li>
      {% endif %}
  </ul>
</nav>
{% endif %}

{% endblock %}
