{% extends 'base.html' %}
{% load static %}

{% block title %}Recuperar contraseña{% endblock %}
{% load crispy_forms_tags %}
{% block content %}


<h2 class="galleryTitle text-center fw-bold">
    Recuperar Contraseña
</h2>
<p class="text-center">Ingresa tu correo electrónico con el que te registraste para recuperar tu contraseña:</p>

<form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <br>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

{% endblock %}