{% extends 'base.html' %}
{% load static %}
{% block title %}Blog - Acerca de {% endblock %}
{% block content %}


<!-- contenido de la página -->
<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="fw-bold">Acerca de Nosotros</h1>
      <h4 class="text-muted">Informacion acerca de nuestro blog</h4>
      <div class="container mt-5 mb-5">
        <div class="row">
          <div class="col-8">
            <p>
              Somos un grupo de estudiantes del Informatorio Chaco y estamos
              emocionados de presentarte nuestro blog dedicado al turismo local
              en nuestra provincia.
            </p>
            <p>
              Nuestra misión es dar a conocer los tesoros turísticos que ofrece
              el hermoso Chaco y fomentar el turismo interno en nuestra
              comunidad.
            </p>
            <p>
              En este espacio, podrás encontrar información detallada sobre
              lugares de interés, actividades al aire libre, rutas escénicas y
              eventos culturales que hacen de nuestra provincia un destino
              único.
            </p>
            <p>
              Como estudiantes comprometidos con nuestra región, queremos
              mostrar la riqueza de nuestra cultura, tradiciones y paisajes
              naturales, y destacar los emprendimientos locales que hacen del
              Chaco un lugar especial para visitar.
            </p>
            <p>
              Te invitamos a que te registres como miembro para interactuar con
              nosotros y con otros entusiastas del turismo local. ¡Tu
              participación enriquecerá aún más este espacio!
            </p>
            <p>
              Esperamos que este blog sea una herramienta útil para planificar
              tus viajes y descubrir las maravillas que ofrece nuestra
              provincia.
            </p>
          </div>
        </div>
      </div>
      <p>
        Gracias por acompañarnos en este recorrido por el turismo local en el
        chaco !
      </p>
      <p>El Equipo del Blog</p>
    </div>
  </div>
</div>

{% endblock %}