
{% extends 'base.html' %}
{% load static %}
{% block title %}TChaco - Acerca de{% endblock %}

{% block content %}

<!-- contenido de la página -->
<div class="container">
  <div class="row">
    <div class="col-md-12">
     <div class="text-center"> 
      <h1 class="fw-bold">Acerca de Nosotros</h1>
      <p class="text-muted">Información acerca de TCHACO</p>
    </div>
      <div class="container mt-5 mb-5">
        <div class="row">
          <div class="col">
            <p>
              Somos un grupo de estudiantes del Informatorio Chaco y estamos
              emocionados de presentarte nuestro blog dedicado al turismo local
              en nuestra provincia.
            </p>
            <p>
              Nuestra misión es dar a conocer los tesoros turísticos que ofrece
              el hermoso Chaco y fomentar el turismo interno en nuestra
              comunidad.
            </p>
            <p>
              En este espacio, podrás encontrar información detallada sobre
              lugares de interés, actividades al aire libre, rutas escénicas y
              eventos culturales que hacen de nuestra provincia un destino
              único.
            </p>
            <p>
              Como estudiantes comprometidos con nuestra región, queremos
              mostrar la riqueza de nuestra cultura, tradiciones y paisajes
              naturales, y destacar los emprendimientos locales que hacen del
              Chaco un lugar especial para visitar.
            </p>
            <p>
              Te invitamos a que te registres como miembro para interactuar con
              nosotros y con otros entusiastas del turismo local. ¡Tu
              participación enriquecerá aún más este espacio!
            </p>
            <p>
              Esperamos que este blog sea una herramienta útil para planificar
              tus viajes y descubrir las maravillas que ofrece nuestra
              provincia.
            </p>
          </div>
        </div>
      </div>
      <p>
        Gracias por acompañarnos en este recorrido por el turismo local en el
        Chaco!
      </p>
      <p>El Equipo del Blog</p>
    </div>
  </div>

 <hr><br />
  <div class="text-center"> 
    <h3 class="fw-bold">Miembros del equipo</h3>
    <p class="text-muted">Estos son los miembros del equipo de trabajo</p>
  </div>


  <!-- Cards de los miembros del equipo -->
  <div class="row mt-5" >
    <div class="col-md-3">
      <div class="card text-left" style="transition: transform 0.3s ease-in-out;">
        <img src="https://i.stack.imgur.com/l60Hf.png" class="card-img-top rounded" alt="Avatar del miembro 1">
        <div class="card-body">
          <p class="card-title mt-2 fw-bold">David Vargas</p>
          <p class="card-text mb-0">Email: <small class="fw-bold">walyvw@gmail.com</small></p> 
          <p class="card-text mb-0">Instagram: <a href="#" class="fw-bold">@miembro1</a></p>

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-left" style="transition: transform 0.3s ease-in-out;">
        <img src="https://i.stack.imgur.com/l60Hf.png" class="card-img-top rounded" alt="Avatar del miembro 1">
        <div class="card-body">
          <p class="card-title mt-2 fw-bold">Miguel Gomez</p>
          <p class="card-text mb-0">Email: <small class="fw-bold">miguegomez2706@gmail.com</small></p> 
          <p class="card-text mb-0">Instagram: <a href="#" class="fw-bold">@miembro1</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-left" style="transition: transform 0.3s ease-in-out;">
        <img src="https://i.stack.imgur.com/l60Hf.png" class="card-img-top rounded" alt="Avatar del miembro 1">
        <div class="card-body">
          <p class="card-title mt-2 fw-bold">Miguel Pieszko</p>
          <p class="card-text mb-0">Email: <small class="fw-bold">mpieszko@hotmail.com</small></p> 
          <p class="card-text mb-0">Instagram: <a href="#" class="fw-bold">@miembro1</a></p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card text-left" style="transition: transform 0.3s ease-in-out;">
        <img src="https://i.stack.imgur.com/l60Hf.png" class="card-img-top rounded" alt="Avatar del miembro 1">
        <div class="card-body">
          <p class="card-title mt-2 fw-bold">Fabian Sanchez</p>
          <p class="card-text mb-0">Email: <small class="fw-bold">fabiansanchez89@gmail.com</small></p> 
          <p class="card-text mb-0">Instagram: <a href="#" class="fw-bold">@fabian.a.sanchez</a></p>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card text-left" style="transition: transform 0.3s ease-in-out;">
        <img src="https://i.stack.imgur.com/l60Hf.png" class="card-img-top rounded" alt="Avatar del miembro 1">
        <div class="card-body">
          <p class="card-title mt-2 fw-bold">Martin Zalazar</p>
          <p class="card-text mb-0">Email: <small class="fw-bold">marelizal@outlook.es</small></p> 
          <p class="card-text mb-0">Instagram: <a href="#" class="fw-bold">@marelizal</a></p>
        </div>
      </div>
    </div>
   
  </div>

</div>

{% endblock %}
