{% extends 'base.html' %}
{% load static %}

{% block title %}Contacto{% endblock %}

{% block content %}
    <!-- <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h2>Contacto</h2>
                <form method="post" enctype="multipart/form-data" class="my-4">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" required>
    
                        <label for="email">Email:</label>
                        <input type="email" name="email" required>
    
                        <label for="mensaje">Mensaje:</label>
                        <textarea name="mensaje" required></textarea>
    
                        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div> -->
    <div class="container">
        <h1 class="mt-5">Contacto</h1>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text" name="nombre" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" name="email" class="form-control" required>
            </div>

            <div class="mb-3">
                <label for="mensaje" class="form-label">Mensaje:</label>
                <textarea name="mensaje" class="form-control" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>

{% endblock %}