{% extends 'base.html' %} 
{% load static %} 
{% block title %}Blog turismo{% endblock %}
{% block content %}


<h2 class=" text-center fw-bold">
  Ultimos articulos
</h2>
<p class="text-center mb-5">Nuestra seleccion destacada</p>
  {% for publicacion in ultimas_publicaciones %}
  <div class="card mb-5 ">
    <div class="row g-0">
      <div class="col-md-3">
        <a href="{% url 'post_detail' publicacion.id %}"><img
          src="{{publicacion.imagen.url}}"
          class="img-fluid h-100 w-100 rounded"
          alt="..."
        /></a>
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title fw-bold">
            {{publicacion.titulo}}
          </h5>
          <p class="card-text">
            {{publicacion.contenido|slice:":150"}}
          </p>
          <p class="card-text">
            <small class="text-muted"
              >{{publicacion.creacion}} | <strong class="text-capitalize">{{publicacion.autor}}</strong>
              </small
            >
          </p>
          <a href="{% url 'post_detail' publicacion.id %}" class="btn btn-primary">Leer más</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  
    

{% endblock %}
